Source: kvalobs-metadata
Section: main
Priority: extra
Maintainer: Terje Reite <terje.reite@met.no>
Build-Depends: debhelper, autotools-dev, debconf,
 devscripts, fakeroot, build-essential, lintian, autoconf,
 automake, libdbd-pg-perl, libdbi-perl, libperl5.10 (>= 5.8.8), 
 libperl-dev, libdate-calc-perl (>= 5.4-5), postgresql (>= 8.3), 
 cvs, less, bzip2
Standards-Version: 3.8.3
Homepage: https://kvalobs.wiki.met.no/doku.php?id=kvalobs


Package: kvget-metadata
Architecture: any
Suggests: kvalobs-metadata
Depends:  postgresql (>= 8.3), bzip2, wget
Description: Metadata to kvalobs
 The package contains a script to get metadata to kvalobs from the repository.

Package: kvalobs-metadata
Architecture: any
Depends: libdbd-pg-perl, libdbi-perl, libperl5.10 (>= 5.8.8), 
 libperl-dev, libdate-calc-perl (>= 5.4-5), postgresql (>= 8.3),
 cvs, less, bzip2
Description: Metadata to kvalobs
 The package contains scripts to read metadata from stinfosys.
 The package contains scripts to upload the data to a kvalobs database
 from various sources and to generate a data package from the content in
 the database.
